body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px rgba(129, 103, 88, 0.659);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    outline-width: 30px;
}
h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #492c048a;
}
h2{
    color: #125189;
}
p{
    text-align: justify;
}
